/*
body
{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;	
}
*/
svg {
  width: 100% !important;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

.modal {
  z-index: 2500;
}

.counters {
  font-size: 18px;
}

.price {
  font-weight: bold;
  font-size: 15px;
}

.price_pln {
  font-weight: bold;
  font-size: 13px;
  color: #808080;
}

.price-item-pln {
  font-size: 16px;
}

.list-group-item {
  padding: 7px 10px;
  border: none;
}

.item-thumbnail {
  width: 130px;
  height: 130px;
  position: relative;
  border: 0px;
}

.item-thumbnail img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.item-link {
  font-weight: bold;
  font-size: 15px;
}

.white-background {
  background-color: #ffffff;
}
.promo-item {
  width: 100%;
  height: 130px;
  position: relative;
}

.promo-item img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.bold {
  font-weight: bold;
}

.price-item {
  font-size: 20px;
}

.pre-footer {
  padding: 50px;
  background-image: url("../../../data/graph/tlo_stopka.jpg");
  background-position: center;
  background-size: cover;
}

.header {
  background-position: center;
  background-image: url("../../../data/graph/tlo_header.png");
}

.navbar-form div {
  padding: 15px;
}

.hover-gray:hover {
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}

.background-white {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  font-weight: bold;
}

/* Top cart block */
.header .top-cart-block {
  float: right;
  margin-top: 25px;
  position: relative;
  font: 400 13px "Open Sans", Arial, sans-serif;
}
.ecommerce .header .mobi-toggler {
  margin-top: 30px;
}
.ecommerce .reduce-header .mobi-toggler,
.reduce-header .top-cart-block {
  margin-top: 19px;
}
.top-cart-info {
  background: #f9f9f9;
  color: #595f65;
  border: solid 1px #ececec;
  /*border-radius: 16px !important;*/
  float: left;
  padding: 8px 39px 6px 13px;
  line-height: 1.2;
}
.top-cart-info a {
  color: #595f65;
}
.top-cart-info-count {
  float: left;
}
.top-cart-info-value {
  border-left: solid 1px #a5aab0;
  margin-left: 5px;
  padding-left: 5px;
}
.top-cart-block .fa-shopping-cart {
  position: absolute;
  top: 0;
  right: 0;
  background: #c90000;
  color: #fff;
  padding: 8px 8px 7px;
  /*
	border-radius: 16px !important;
	*/
  font-size: 16px;
}

.top-cart-content-wrapper {
  position: absolute;
  right: -2px;
  top: 100%;
  z-index: 99999;
}
.top-cart-content {
  padding: 8px 0 10px;
  background: #fcfafb;
  border-top: solid 2px #ea4c1d;
  box-shadow: 5px 5px rgba(91, 91, 91, 0.2);
  width: 364px;
  margin-top: 12px;
  color: #717880;
  display: none;
  position: relative;
  transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
}
.top-cart-content:after {
  top: -8px;
  width: 0;
  height: 0;
  right: 8px;
  z-index: 2;
  content: " ";
  display: block;
  position: absolute;
  border-bottom: 8px solid #e6400c;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.top-cart-block:hover .top-cart-content {
  display: block;
}
.top-cart-content p {
  margin: 7px 0 5px;
}
.top-cart-content ul {
  margin: 0;
  padding: 0 8px;
}
.top-cart-content .scroller {
  overflow: hidden;
}
.top-cart-content li {
  list-style: none;
  margin: 0;
  padding: 9px 0;
  border-bottom: solid 1px #f2f2f2;
  width: 100%;
  overflow: hidden;
}
.top-cart-content img,
.top-cart-content em,
.top-cart-content strong,
.top-cart-content span,
.top-cart-content .del-goods,
.top-cart-content .add-goods {
  float: left;
}
.top-cart-content img {
  border: solid 2px #fff;
  margin-right: 4px;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.top-cart-content span,
.top-cart-content strong,
.top-cart-content em {
  margin-right: 10px;
  overflow: hidden;
  padding-top: 10px;
}
.top-cart-content span {
  width: 26px;
}
.top-cart-content strong {
  width: 165px;
  font-weight: normal;
}
.top-cart-content strong a {
  color: #717880;
}
.top-cart-content em {
  width: 55px;
  font-style: normal;
  text-align: right;
}

.del-goods,
.add-goods {
  width: 17px;
  height: 17px;
  color: #fff !important;
  border-radius: 22px !important;
  float: right;
  margin: 10px 0 0 5px;
  line-height: 1;
  font-size: 12px;
}
.del-goods:hover,
.add-goods:hover {
  text-decoration: none;
}
.del-goods {
  background: #d7dde3 url(../../pages/img/icons/del-goods.png) no-repeat 50% 50%;
}
.del-goods:hover {
  background: #e94d1c url(../../pages/img/icons/del-goods.png) no-repeat 50% 50%;
}
.add-goods {
  background: #7bdd00 url(../../pages/img/icons/add-goods.png) no-repeat 50% 50%;
}
.add-goods:hover {
  background: #e94d1c url(../../pages/img/icons/add-goods.png) no-repeat 50% 50%;
}

.top-cart-content .text-right {
  margin-right: 8px;
  padding-top: 10px;
}
.top-cart-content .btn {
  font-size: 11px;
  padding: 8px 12px 7px;
}
.top-cart-content .btn-default {
  color: #fff;
  border: 1px solid #c1cad3;
  background: #c1cad3;
  margin-right: 4px;
}
.top-cart-content .btn-default:hover {
  border: 1px solid #a8aeb3;
  color: #fff;
  background: #a8aeb3;
}

.animated {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

#change img {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  margin-bottom: 20px;
}

#change img:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
}
#change div:hover {
  opacity: 5;
  cursor: pointer;
}

.carousel-image-1 {
  background-image: url("../../../data/graph/carousel_mc9200.jpg");
}

.carousel-image-2 {
  background-image: url("../../../data/graph/carousel_mc3200.jpg");
}

.carousel-image-3 {
  background-image: url("../../../data/graph/carousel_mc9190.jpg");
}

.retail-price-column {
  min-height: 300px;
}

.producer-table {
  min-height: 300px;
}

.group-table {
  width: 150px;
}

.price-inventory-table-head {
  width: 150px;
}

.netto-price-column {
  width: 110px;
}

.warehouse-column {
  width: 110px;
}

.tab-pane-head {
  width: 30px;
}

.tab-pane-head-size {
  width: 100px;
}

.history-price {
  height: 300px;
  width: 700px;
  margin: 0 auto;
}

.history-inventory {
  height: 300px;
  width: 700px;
  margin: 0 auto;
}

.link-category {
  color: black;
  font-weight: 600;
}

.row-category-margin {
  padding-bottom: 5px;
  padding-top: 5px;
}

.font-bold {
  font-weight: 600;
}

.font-bold:hover {
  color: #e02222;
}

.cooperation-text {
  font-size: 16px;
  color: #c90000;
}

.link-category:hover {
  color: #c90000;
}

.footer-header {
  color: #c90000;
}

a :hover {
  color: #c90000;
}

#footer-header {
  color: #57c8eb;
}

.quote-v1 {
  background: black;
}

.recent-work-description b {
  margin-top: 10px !important;
  color: #333;
  font-weight: 600;
}

.quote-v1 a.btn-default:hover {
  color: white;
  background: #c90000;
}

.quote-v1 a.btn-default {
  color: white;
  background: black;
}

.header a.navbar-menu-button {
  font-weight: 600;
}

.header a.navbar-menu-button:hover {
  color: #c90000;
}

.additional-nav a.info-buttons:hover {
  color: #c90000;
}

.additional-nav a.info-buttons {
  font-weight: 600;
}

.pre-header a {
  font-weight: 600;
}

.pre-header a:hover {
  color: #c90000;
}

.header-navigation
  .dropdown-menu
  .header-navigation-content
  a.dropdown-menu-link:hover {
  background: #c90000;
  color: white;
}

.header-navigation
  .dropdown-menu
  .header-navigation-content
  a.dropdown-menu-link:active {
  color: white;
}

.recent-work .recent-work-item a.recent-work-description:hover {
  background: #c90000;
}

.recent-work
  .recent-work-item
  em.promo-item:hover
  + .recent-work
  .recent-work-item
  a.recent-work-description {
  background: #e02222;
}
.retail-price-column {
  padding: 15px;
}
.list-group .footer-header {
  color: white;
}

.pre-footer a {
  color: white;
}

.pre-footer a:hover {
  color: #c90000;
}

.pre-footer .phone-number {
  color: white;
}

.breadcrumb .active {
  color: #c90000;
}

a.category-menu-link {
  color: #404040;
  font-weight: 600;
}

a.category-menu-link:hover {
  color: #c90000;
  font-weight: 600;
}

.category-menu p {
  color: #404040;
  font-weight: 600;
}

.btn-search {
  background: #c90000;
}

.btn-search:hover {
  background: black;
}

a.item-link {
  color: #404040;
}

a.item-link:hover {
  color: #c90000;
}

.price-item .input-group .input-group-btn button {
  background: #c90000;
}

.price-item a.btn {
  background: #c90000;
  color: white;
}

.price-item a.btn:hover {
  background: black;
}

.table a.btn-primary {
  background: #c90000;
  color: white;
}

table a.btn-primary:hover {
  background: black;
  color: white;
}

.pagination li a {
  color: #404040;
}

.pagination .active a {
  background: #c90000;
}

.pagination .active a:hover {
  background: black;
}

.nav li.active a {
  background: #c90000;
}

.nav li.active a:hover {
  background: black;
}

.table a {
  color: #404040;
}

.table a:hover {
  color: #c90000;
}

.top-cart-content-wrapper a.btn-primary {
  background: #c90000;
}
.input-group {
  margin: 0 !important;
  padding: 0 !important;
}
.jumbotron {
  background-color: transparent !important;
}
.list-footer .list-footer-item {
  margin-left: 0;
  padding-left: 0;
  background: transparent;
}
.padding-big {
  padding: 60px;
}
.padding-medium {
  padding: 30px;
}
